body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.body-content {
    margin-top: 50px;
}
label {
  margin: 0;
}
.float-right {
  position: relative;
  float: right;
}
.navbar {
  background-color: rgb(235, 90, 60);
  border-radius: 0 !important;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navbar-header a {
  padding-top: 10px;
}
.navbar-header a img {
  width: 32px;
  position: relative;
}
.navbar-nav a {
  color: white;
}
.navbar-nav li a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.navbar-nav li a:hover {
  background-color: rgb(235, 60, 30);
  color: white !important;
}
.navbar-nav li a:focus {
  background-color: rgb(235, 60, 30);
  color: white !important;
}
.header {
  text-align: center;
}
.input-sm {
  height: 30px;
}
.form-inline {
  width: auto;
}
.right {
  position:relative;
  float: right;
  text-align: right;
}
.bottom {
    position:relative;
    bottom: 10px;
}
.right-fixed {
    position: relative;
    right: 10px;
}
.float {
    position: fixed;
}
.form-label {
  font-family: 'Calibri Light';
  font-style: normal;
  font-size: 14px;
  font-weight: 100;
  position: relative;
}
.form-control {
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.2);
}
.label-container-left {
  padding-right: 0;
}
.label-container-right {
  padding-left: 0;
}
.btn-default {
  background-color: rgb(235, 90, 60);
  color: white !important;
  margin-top: 8px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn-default:hover {
  background-color: rgb(237, 140, 80);
  color: white;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.btn-default:focus {
  background-color: rgb(235, 60, 30);
  color: white;
}
.btn-default:active {
  background-color: rgb(255, 217, 102);
}
.center-sm {
    max-width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.center {
    position: relative;
}
footer {
    background-color: white;
    bottom: 5px;
    margin-left:10px;
    position: fixed;
}
@media (min-width: 1200px) {
  .label-container-left {
    text-align: right;
  }
  .btn-default {
    margin-top: 0;
  }
  #desc-row {
    padding-left:5%;
  }
}
@media (max-width: 1200px) {
  .scrollable-button {
      position:relative;
  }
}
.modal {
    margin: auto;
    max-height: 80%;
    max-width: 550px;
    overflow: hidden;
    vertical-align: middle;
}
.modal-body {
    overflow-x: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.modal-item-select {
    background-color: transparent;
    border-color: transparent;
    height: 50px;
    width: 100%;
}
.modal-item-select:hover {
    background-color: rgb(235, 90, 60);
    color: white;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
li {
    list-style:none;
}
.list-group {
    display: normal;
    padding: 0;
    position:relative;
    left: 10px;
}
.list-group-item {
    display: normal;
    padding: 0;
    border: none;
    vertical-align:middle;
}
.list-group-item a {
    color: brown;
    display: list-item;
    height:100%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:30px;
    text-decoration: none;
}
.list-group-item a:hover{
    color: white;
    background-color: rgb(235, 60, 30);
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
 .list-group-item a:active{
     border:none;
 }
.start {
    left:0;
    width: 100%;
    position:relative;
}
.start button {
    width:30%;
    border-radius: 0;
}
.scrollable-button{
    padding-left:0;
    position:fixed;
    max-height:300px;
    left:0;
    width: 300px;
}
.scrollable-button .panel {
    overflow:auto;
    position:relative;
    max-height:500px;
}
.popover {
    max-height: 20%;
    position: absolute;
    right:0;
}
.content-height{
    overflow: auto;
    height: 100px;
}
.badge {
    background-color: salmon;
}